.sub-head {
    margin: 10px 0;
}
.book-card {
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    width: 233px;
    min-height: 275px;
    margin-bottom: 20px;
    transition: all 0.2s cubic-bezier(0.41, 0.71, 0.58, 1);
    position: relative;
    .row-1 {
        width: 100%;
        height: 172px;
        background: #f5f5f5 0% 0% no-repeat padding-box;
        border-radius: 2px 2px 0px 0px;
        opacity: 1;
    }
    .des-hover {
        position: absolute;
        top: 0;
        right: 0;
        visibility: hidden;
    }
    .des-hover:hover {
        background-color: violet;
        visibility: visible;
    }
}
