<header class="header" fxLayout fxLayoutAlign='center center'>
    <div fxFlex=80 fxLayout fxLayoutAlign='space-between center'>
        <div fxFlex=60  fxFlex.md=70  fxFlex.sm=80 fxFlex.xs=80  fxLayout fxLayoutAlign='start center'>
            <h4 class="head">BookStore</h4>
            <mat-form-field fxHide.xs class="field" fxFlex fxFlexOffset='30px' appearance="outline">
                <input matInput placeholder="Search">
            </mat-form-field>
        </div>


        <button  mat-icon-button aria-label="Example icon button with a vertical three dot icon">
            <mat-icon matBadge="1" matBadgeColor="warn" class="icon">shopping_cart</mat-icon>
        </button>
    </div>

</header>